#jsddm {
    margin: 0;
    padding: 0
}

#jsddm li {
    float: left;
    list-style: none;
    font: 12px Tahoma, Arial
}

#jsddm li a {
    display: block;
    background: #eb8f00;
    padding: 5px 12px;
    text-decoration: none;
    margin-left: 1px;
    width: 119px;
    color: #EAFFED;
    white-space: nowrap
}

#jsddm li a:hover {
    background: #eb8f00;
    color: black;
}

#jsddm li ul {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white;
    min-width: 144px;
}

#jsddm li ul li {
    float: none;
    display: inline
}

#jsddm li ul li a {
    width: auto;
    background: #FFFFFF;
    color: black;
}

#jsddm li ul li a:hover {
    background: #fbd850
}
