<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>TorrentsServlet</servlet-name>
        <servlet-class>rtorrent.web.TorrentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TorrentsServlet</servlet-name>
        <url-pattern>/torrent/list/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TorrentServlet</servlet-name>
        <servlet-class>rtorrent.web.TorrentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TorrentServlet</servlet-name>
        <url-pattern>/torrent/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>rtorrent.web.SettingsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/settings/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>rtorrent.web.ActionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/action/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>rtorrent.web.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
