* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: url("/images/wall.jpg") no-repeat;

}

a {
    color: blue;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 18px
}

img {
    border: none;
}

input {
    vertical-align: middle;
}

#wrapper {
    width: 720px;
    margin-top: 10px;
    margin-left: 40px;
}

/*основной блок*/
#main {
    width: 720px;
    height: 100%;
}

.ui-button-text {
    font-size: 10px;
}

#mainMenu {
    width: 720px;
    height: 25px;
}

/*блок диалогов*/

#torrentDialog {
    font-size: 12px;
}

.dialog {
    display: none;
}

#buttons {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

#scroll {
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
}

/*блок таблицы*/

#tableConatainer {
    width: 720px;
    margin-top: 10px;
}

#tableButtons {
    float: left;
    margin: 2px;
}

.refreshable {
    border: 1px dotted;
}

#torrentTable {
    text-align: center;
    width: 600px;
    background-color: white;
    font-size: 13px;
    margin: 0 auto;
}

/*задаем максимальную ширину для имени торрента*/
.titleTd {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
    min-width: 400px;
}

/*максимальная ширина для размеров*/
.titleSize {
    overflow: hidden;
    white-space: nowrap;
    max-width: 50px;
    min-width: 50px;
}

#torrentTable .ui-icon {
    display: none;
    height: 0;
}

.dataTables_filter {
    text-align: right;
    margin-right: 10px;
}

.rowSelected {
    background-color: #3399FF;
}

/*блок контекстного меню*/
#contextMenu {
    display: none;
}

/*логи*/
#logArea {
    font-size: 0.8em;
    margin-left: 12px;
}

#log {
    width: 718px;
}

#label {
    margin-left: 4px;
}

#label a {
    font-size: 0.7em;
    text-decoration: none;
    margin-left: 600px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    color: #1c94c4;
}